<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome to JobKit</title>
		<!-- <link rel="icon" href="img/favicon.ico"> -->
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/uikit-css/uikit.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/uikit-css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="../assets/css/login.css">
	</head>
	<body class="login uk-cover-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-overflow-hidden uk-light" data-uk-height-viewport>
		
		<div class="uk-position-top">
			<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
				<div class="uk-navbar-right">
					<ul class="uk-navbar-nav">
						<li><a href="#">Applications</a></li>
						<li class="uk-active"><a href="#">Jobs</a></li>
						<li><a href="#">Profile</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- <div uk-grid>
			<div class="uk-section-default">
				<div class="uk-section uk-light uk-background-cover" style="background-image: url(images/dark.jpg)">
					<div class="uk-container">
			
						<h3>Section with Images</h3>
			
						<div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
							<form class="uk-search uk-search-default">
								<span uk-search-icon></span>
								<input class="uk-search-input" type="search" placeholder="Job Title">
							</form>
						
							<form class="uk-search uk-search-default">
								<span uk-search-icon></span>
								<input class="uk-search-input" type="search" placeholder="Job Title">
							</form>
						</div>
			
					</div>
				</div>
			</div>
		</div> -->
		<div>
			<div class="uk-grid-column-medium uk-grid-row-medium uk-child-width-1-3@s uk-text-center" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job1">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job2">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job3">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job4">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job5">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job6">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job7">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job8">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job9">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job10">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job11">Job</div>
				</div>
				<div>
					<div class="uk-card uk-card-default uk-card-body" id="job12">Job</div>
				</div>
			</div>
		</div>
		
		
		<!-- JS FILES -->
		<script src="../assets/js/uikit-js/uikit.js"></script>
		<script src="../assets/js/uikit-js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
	</body>
</html>