<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JobKit</title>
		{{!-- Favicon Links --}}
		{{!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png"> --}}
		<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/script.js"></script>

	</head>
	<body class="background">
		
        {{{body}}}

		<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
		<script src="assets/js/authenticatate.js"></script>
		<script src="assets/js/auth-signup.js"></script>

	</body>
</html>