<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome to JobKit</title>
		<!-- <link rel="icon" href="img/favicon.ico"> -->
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/script.js"></script>

	</head>
	<body class="login">
        {{{body}}}

	<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
	<script src="/__/firebase/7.14.2/firebase-firestore.js"></script>
	<script src="assets/js/authenticatate.js"></script>

	</body>
</html>