<section class="uk-section-large uk-preserve-color">
    <div class="uk-container">
 

    <h1>Placeholder Add Form</h1>

    <form class="create-form" style="background-color: white; color: black">
        <div class="form-group" id="app-qs">
            <label for="app-title">App Title:</label>
            <input type="text" id="app-title" placeholder="">
            {{!-- should be a radio button --}}
            <label for="app-type">Type:</label>
            <input type="text" id="app-type" placeholder="FTE">

            <label for="app-desc">Description:</label>
            <input type="text" id="app-desc" placeholder="">

            <label for="app-industry">Industry:</label>
            <input type="text" id="app-industry" placeholder="tech">

            <label for="app-zipCode">Zipcode:</label>
            <input type="text" id="app-zipCode" placeholder="">

            <label for="app-salary">Salary:</label>
            <input type="text" id="app-salary" placeholder="0">

            {{!-- should probably be a date type --}}
            <label for="app-applied">Date Applied:</label>
            <input type="text" id="app-applied" placeholder="">
            {{!-- should probably be radio button with a few options --}}
            <label for="app-rating">Rating:</label>
            <input type="text" id="app-rating" placeholder="">
        </div>
        <button type="submit" id="app-add"> Add Application </button>
    </form>


</div>
</section>