<script src="../assets/js/edit-app.js"></script>


<div class="background uk-height-viewport uk-light">
    <!-- overlay -->
    <div class="uk-position-cover uk-overlay-primary"></div>

    <div class="uk-panel uk-dark uk-text-center uk-position-center">
        <div class="uk-width-2xlarge uk-padding-small uk-position-z-index uk-position-relative"
            uk-scrollspy="cls: uk-animation-fade">

            <img id="add-logo" class="uk-center" href="/"
                src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/852/2922780852_17e18edb-4281-4a6c-8a36-9f026bf29cf2.png?cb=1588108119"
                alt="jobkit-logo">

            <br>


            <!-- add-application -->
            <form class="toggle-class create-form">
                <fieldset class="uk-fieldset">
                    <!-- <legend class="uk-legend uk-text-small">Fill In Job Application Info Below</legend>

                    <div class="uk-margin-small-top uk-margin-small-bottom">
                        <legend class="uk-legend uk-text-small">Application Info</legend>
                        
                        <br>
                        
                        <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="app-qs" uk-grid>
                            <div class="uk-width-1-3">
                                <input class="uk-input uk-border-pill" required placeholder="Job Title" type="text" id="app-title">
                            </div>
                            <div class="uk-width-1-3">                                    
                                <div class="uk-border-pill" id="app-rating">
                                        <p>Job Type:
                                            <label><input class="uk-radio" type="radio" name="radio2" value="FTE"> FTE </label>
                                            <label><input class="uk-radio" type="radio" name="radio2" value="Part-Time"> Part-Time </label>
                                            <label><input class="uk-radio" type="radio" name="radio2" value="Contract"> Contract </label>
                                            <label><input class="uk-radio" type="radio" name="radio2" value="Internship"> Internship </label>
                                        </p>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <input class="uk-input uk-border-pill" placeholder="Salary" type="text" id="app-salary">
                            </div>
                            <div class="uk-width-2-3">
                                <input class="uk-input uk-border-pill" placeholder="Job Description" type="text" id="app-desc">
                            </div>
                <hr> -->

                    <div class="form-group uk-margin-small">

                        <div class="uk-margin-small-top uk-margin-small-bottom">
                            <legend class="uk-legend uk-text-small">Application Info</legend>

                            <br>

                            <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="app-qs" uk-grid>
                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" required placeholder="Job Title *" type="text"
                                        id="app-title">
                                </div>
                                <div class="uk-width-1-3">

                                    <p>Job Type:
                                        <div class="uk-form-controls">
                                            <label><input class="uk-radio app-type" type="radio" name="radio2"
                                                    value="FTE"> FTE
                                            </label>
                                            <label><input class="uk-radio app-type" type="radio" name="radio2"
                                                    value="Part-Time">
                                                Part-Time </label>
                                            <label><input class="uk-radio app-type" type="radio" name="radio2"
                                                    value="Contract">
                                                Contract </label>
                                            <label><input class="uk-radio app-type" type="radio" name="radio2"
                                                    value="Internship"> Internship </label>
                                        </div>
                                    </p>

                                </div>
                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Salary" type="text"
                                        id="app-salary">
                                </div>
                                <div class="uk-width-2-3">
                                    <input class="uk-input uk-border-pill" placeholder="Job Description" type="text"
                                        id="app-desc">
                                </div>

                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Industry" type="text"
                                        id="app-industry">
                                </div>

                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Zipcode" type="text"
                                        id="app-zipCode">
                                </div>



                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill uk-form" placeholder="Date Applied"
                                        type="text" id="app-applied" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                                </div>

                                <div class="uk-width-1-3">
                                    <p>Interest Level :
                                        <div class="uk-form-controls">
                                            <label><input class="uk-radio role-interest" type="radio" name="radio1"
                                                    value="1"> 😕
                                            </label>
                                            <label><input class="uk-radio role-interest" type="radio" name="radio1"
                                                    value="2"> 😶
                                            </label>
                                            <label><input class="uk-radio role-interest" type="radio" name="radio1"
                                                    value="3"> 😊
                                            </label>
                                            <label><input class="uk-radio role-interest" type="radio" name="radio1"
                                                    value="4"> 😃
                                            </label>
                                            <label><input class="uk-radio role-interest" type="radio" name="radio1"
                                                    value="5"> 🚀
                                            </label>
                                        </div>
                                    </p>
                                </div>

<<<<<<< HEAD
                            <div class="uk-width-1-3">
                                        <div class="uk-border-pill" id="app-rating">
                                            <p>Interest Level :
                                                <label><input class="uk-radio" type="radio" name="radio1" value="1"> 😕 </label>
                                                <label><input class="uk-radio" type="radio" name="radio1" value="2"> 😶 </label>
                                                <label><input class="uk-radio" type="radio" name="radio1" value="3"> 😊 </label>
                                                <label><input class="uk-radio" type="radio" name="radio1" value="4"> 😃 </label>
                                                <label><input class="uk-radio" type="radio" name="radio1" value="5"> 🚀 </label>
                                            </p>
                                        </div>
=======
>>>>>>> 25af6b7854f9732746a09b279a82c6032dfc8a2e
                            </div>

                            <br>

                            <!-- <hr> -->

                            <legend class="uk-legend uk-text-small">Company Info</legend>

                            <br>

                            <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="company-qs"
                                uk-grid>
                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Company Name *" type="text"
                                        id="comp-name">
                                </div>

<<<<<<< HEAD
                            <div class="uk-width-1-3">
                                <input class="uk-input uk-border-pill" placeholder="Location" type="text" id="comp-zipCode">
                            </div>
=======
                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Location" type="text"
                                        id="comp-zipCode">
                                </div>

                                <div class="uk-width-1-3">
                                    <input class="uk-input uk-border-pill" placeholder="Company Website" type="text"
                                        id="comp-link">
                                </div>
>>>>>>> 25af6b7854f9732746a09b279a82c6032dfc8a2e

                            </div>

                            <br>

                            <!-- <hr> -->

                            {{!-- <legend class="uk-legend uk-text-small">Contact Info</legend>

                            <br>

                        <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="contact-qs" uk-grid>
                            <div class="uk-width-1-4">
                                <input class="uk-input uk-border-pill" placeholder="Contact Name" type="text" id="cont-name">
                            </div>

                            <div class="uk-width-1-4">
                                <input class="uk-input uk-border-pill" placeholder="Contact Email" type="text" id="cont-email">
                            </div>

                            <div class="uk-width-1-4">
                                <input class="uk-input uk-border-pill" placeholder="Contact Phone" type="text" id="cont-phone">
                            </div>

                            <div class="uk-width-1-4">
                                <input class="uk-input uk-border-pill" placeholder="Contact Type" type="text" id="cont-type">
                            </div>
                            
                        </div>

                            <br>
                            
                            <!-- <hr> --> --}}

                            <legend class="uk-legend uk-text-small">Source Info</legend>

                            <br>

                            <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="source-qs" uk-grid>
                                <!-- Dropdown? -->
                                <div class="uk-width-1-4">
                                    <input class="uk-input uk-border-pill" placeholder="Source *" type="text"
                                        id="src-source">
                                </div>

                                <!-- Dropdown? -->
                                <div class="uk-width-1-4">
                                    <input class="uk-input uk-border-pill" placeholder="Apply Type" type="text"
                                        id="src-applyType">
                                </div>

                                <div class="uk-width-1-4">
                                    <input class="uk-input uk-border-pill" placeholder="Link to Posting" type="text"
                                        id="src-posting">
                                </div>
                                <!-- Dropdown? -->
                                <div class="uk-width-1-4">
                                    <input class="uk-input uk-border-pill" placeholder="Resume Version" type="text"
                                        id="src-resume">
                                </div>

                                {{!-- </div>

                            <br>

                            <!-- <hr> -->

                            <legend class="uk-legend uk-text-small">Stage Info</legend>

                            <br>

                        <div class="uk-grid-small uk-child-width-expand@s uk-vertical-align" id="stages-qs" uk-grid>
                            <!-- Dropdown -->
                            <div class="uk-width-1-2">
                                <input class="uk-input uk-border-pill" placeholder="Current Stage" type="text" id="stgs-current">
                            </div>
                            
                            <!-- Date -->
                            <div class="uk-width-1-2">
                                <input class="uk-input uk-border-pill uk-form" placeholder="Date of Current Stage" type="text" id="stgs-dateOfStage" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                            </div>

                            <!-- Dropdown -->
                            <div class="uk-width-1-2">
                                <input class="uk-input uk-border-pill" placeholder="Next Steps" type="text" id="stgs-nextStep">
                            </div>

                            <div class="uk-width-1-2">
                                <input class="uk-input uk-border-pill" placeholder="Notes" type="text" id="stgs-notes">
                            </div>																				
                        </div>
 --}}
<<<<<<< HEAD
                    </div>

                </div>

                <div class="uk-width-1-2 uk-align-center">
                    <a href="/applications"><button type="submit" id="app-edit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1 uk-margin">SAVE EDITS
                    </button></a>
                    <hr>
                    <a type="submit" id="app-back" class="uk-button uk-button-primary uk-border-pill uk-width-1-4" href="/applications">BACK
                    </a>
                </div>
                
            </fieldset>
        </form>
        <!-- /add-application -->
        
        <!-- <hr> -->

        <!-- FOOTER-->
        <!-- <footer id="site-foot" class="uk-section uk-section-preserve uk-section-xsmall uk-position-z-index">
=======
                            </div>

                        </div>

                        <div class="uk-width-1-2 uk-align-center">
                            <button type="submit" id="app-edit"
                                class="uk-button uk-button-primary uk-border-pill uk-width-1-1 uk-margin">SAVE EDITS
                            </button>
                            <hr>
                            <a type="submit" id="app-back"
                                class="uk-button uk-button-primary uk-border-pill uk-width-1-4"
                                href="/applications">BACK
                            </a>
                        </div>

                </fieldset>
            </form>
            <!-- /add-application -->

            <!-- <hr> -->

            <!-- FOOTER-->
            <!-- <footer id="site-foot" class="uk-section uk-section-preserve uk-section-xsmall uk-position-z-index">
>>>>>>> 25af6b7854f9732746a09b279a82c6032dfc8a2e
            <div class="uk-container uk-text-small uk-text-center">
                Made with ❤️ by JobKit
            </div>
        </footer> -->
            <!--/FOOTER -->
        </div>

    </div>