<h1> This will be our home page </h1>

<div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a id="home-nav" href="/">home</a></li>
                <li><a id="applications-nav" href="/applications">Applications</a></li>
                <li class="uk-active"><a id="jobs-nav" href="/jobs">Jobs</a></li>
                <li><a id="profile-nav" href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>


<div>
    <h1>Placeholder Add Form</h1>

    <form class="create-form" style="background-color: white; color: black">
        <div class="form-group" id="app-qs">
            <label for="app-title">App Title:</label>
            <input type="text" id="app-title" name="app-id" placeholder="">
            {{!-- should be a radio button --}}
            <label for="app-type">Type:</label>
            <input type="text" id="app-type" name="app-type" placeholder="FTE">

            <label for="app-desc">Description:</label>
            <input type="text" id="app-desc" name="app-desc" placeholder="">

            <label for="app-industry">Industry:</label>
            <input type="text" id="app-industry" name="app-industry" placeholder="tech">

            <label for="app-zipCode">Zipcode:</label>
            <input type="text" id="app-zipCode" name="app-zipCode" placeholder="">

            <label for="app-salary">Salary:</label>
            <input type="text" id="app-salary" name="app-salary" placeholder="0">

            {{!-- should probably be a date type --}}
            <label for="app-applied">Date Applied:</label>
            <input type="text" id="app-applied" name="app-applied" placeholder="">
            {{!-- should probably be radio button with a few options --}}
            <label for="app-rating">Rating:</label>
            <input type="text" id="app-rating" name="app-rating" placeholder="">
        </div>
        <button type="submit" id="app-add"> Add Application </button>
    </form>


</div>