<!--HEADER-->
<header id="site-head">
    <div class="uk-container uk-container-expand uk-background-secondary uk-padding-small">
        <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-6 uk-margin-large-left">
                <a href="/" class="uk-logo" title=""><img id="navbar-logo"
                        src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/852/2922780852_17e18edb-4281-4a6c-8a36-9f026bf29cf2.png?cb=1588108119"
                        alt="jobkit-logo"></a>
            </div>
            <div class="uk-width-expand">
            </div>
            <div class="uk-width-auto">
                <ul class="uk-subnav" data-uk-margin>
                    <li><a id="nav-home" class="uk-text-bold jobkit-blue-color" id="home" href="/">Home</a></li>
                    <li></li>
                    <li><a id="nav-app" class="" href="/applications">Applications</a></li>
                    <li><a id="nav-jobs" href="/jobs">Jobs</a></li>
                    <li><a id="nav-profile" href="/profile">Profile</a></li>
                    <li></li>
                    <li><a id="nav-login" class="uk-text-bold uk-text-success" id="login" href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--/HEADER-->
<div class="spacer"></div>

<!-- /overlay -->

<section class="uk-section uk-preserve-color uk-margin-large-top">
    <div class="uk-container">

        <div class="uk-panel uk-dark uk-text-center">
            <img id="index-logo" class="uk-center"
                src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/852/2922780852_17e18edb-4281-4a6c-8a36-9f026bf29cf2.png?cb=1588108119"
                alt="jobkit-logo">
        </div>

        <br>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body uk-text-center uk-border-rounded">
                    <h1 class="">
                        JobKit is a <span class="jobkit-blue-color">cloud-based application</span> enabling users to <span class="jobkit-blue-color">actively track</span>
                        and <span class="jobkit-blue-color">manage job applications</span>
                    </h1>
                    <h2 class="uk-text-lighter">
                        By having specific details and pertinent information stored and available during their job hunt,
                        our customers have the best opportunity at landing their dream job
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uk-preserve-color uk-margin-bottom">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                        <div class="uk-width-1-2 uk-align-center">
                            <a type="submit" id="app-add" href="/applications"
                                class="uk-button uk-button-primary uk-border-rounded uk-width-1-1">Applications<a
                                    href="/applications"></a>
                            </a>
                        </div>
                        <h2 class="uk-text-center">Tracked Job Applications</h2>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                        <div class="uk-width-1-2 uk-align-center">
                            <a type="submit" id="app-add" href="/jobs"
                                class="uk-button uk-button-primary uk-border-rounded uk-width-1-1">Jobs
                            </a>
                        </div>
                        <h2 class="uk-text-center">Open Job Opportunties</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
<!--FOOTER-->
<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
    <div class="uk-container uk-text-small uk-text-center">
        Made with ❤️ by JobKit
    </div>
</footer>
<!--/FOOTER-->