<!--HEADER-->
<header id="site-head">
    <div class="uk-container uk-container-expand uk-background-secondary uk-padding-small">
        <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-auto">
                <a href="#" class="uk-logo" title=""><img src="img/logo.svg" alt=""></a>
            </div>
            <div class="uk-width-expand">
            </div>
            <div class="uk-width-auto">
                <ul class="uk-subnav" data-uk-margin>
                    <li class=""><a href="#">Applications</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--/HEADER-->
<div class="spacer"></div>

<!-- /overlay -->

<section class="uk-section-large uk-preserve-color">
    <div class="uk-container">
        
        <br>

        <div class="uk-panel uk-dark">
            <h1>Welcome to JobKit!</h1>
        </div>

        <br>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <p>Company Details</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uk-preserve-color uk-margin-large-bottom">
    <div class="uk-section-large">

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button-large uk-button-secondary">Applications</button>
                    </div>
                    <h3 class="uk-text-center">Tracked Job Applications</h3>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <div class="uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button-large uk-button-secondary">Jobs</button>
                    </div>
                    <h3 class="uk-text-center">Open Job Opportunties</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <h1>Placeholder Add Form</h1>

    <form class="create-form" style="background-color: white; color: black">
        <div class="form-group" id="app-qs">
            <label for="app-title">App Title:</label>
            <input type="text" id="app-title" name="app-id" placeholder="">
            {{!-- should be a radio button --}}
            <label for="app-type">Type:</label>
            <input type="text" id="app-type" name="app-type" placeholder="FTE">

            <label for="app-desc">Description:</label>
            <input type="text" id="app-desc" name="app-desc" placeholder="">

            <label for="app-industry">Industry:</label>
            <input type="text" id="app-industry" name="app-industry" placeholder="tech">

            <label for="app-zipCode">Zipcode:</label>
            <input type="text" id="app-zipCode" name="app-zipCode" placeholder="">

            <label for="app-salary">Salary:</label>
            <input type="text" id="app-salary" name="app-salary" placeholder="0">

            {{!-- should probably be a date type --}}
            <label for="app-applied">Date Applied:</label>
            <input type="text" id="app-applied" name="app-applied" placeholder="">
            {{!-- should probably be radio button with a few options --}}
            <label for="app-rating">Rating:</label>
            <input type="text" id="app-rating" name="app-rating" placeholder="">
        </div>
        <button type="submit" id="app-add"> Add Application </button>
    </form>


</div>
<!--FOOTER-->
<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall uk-position-bottom uk-position-fixed">
    <div class="uk-container uk-text-small uk-text-center">
        Made with Love by JobKit
    </div>
</footer>
<!--/FOOTER-->
