<header id="site-head">
	<div class="uk-container uk-container-expand uk-background-secondary uk-padding-small">
		<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-1-6 uk-margin-large-left">
                <a href="/" class="uk-logo" title=""><img id="navbar-logo" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/852/2922780852_17e18edb-4281-4a6c-8a36-9f026bf29cf2.png?cb=1588108119" alt="jobkit-logo"></a>
			</div>
			<div class="uk-width-expand">
				<form id="search-form" action="">
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
						<input class="uk-input uk-width-1-1 search-fld uk-border-rounded" type="text"
							placeholder="Search existing applications" autofocus>
						<a href="#" class="search-filter" data-uk-filter-control="[data-tags*='']" hidden>Search</a>
					</div>
				</form>
			</div>
			<div class="uk-width-auto">
				<ul class="uk-subnav" data-uk-margin>
					<li><a id="nav-home" class="uk-text-bold" id="home" href="/">Home</a></li>
					<li></li>
					<li><a id="nav-app" href="/applications">Applications</a></li>
					<li><a id="nav-jobs" class="uk-text-primary" href="/jobs">Jobs</a></li>
					<li><a id="nav-profile" href="/profile">Profile</a></li>
					<li></li>
					<li><a id="nav-signout" class="uk-text-bold uk-text-danger" id="signout" href="/">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!--/HEADER-->
<div class="spacer"></div>
<!--CARDS WRAPPER-->
<section class="uk-section uk-section-small uk-padding-remove-bottom login uk-cover-container" uk-height-viewport>
	<div class="uk-container uk-container-expand uk-margin-large-bottom">
		<div id="github-jobs"
			class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match js-filter uk-grid-large uk-text-center">
			{{#each jobs}}
			{{> jobs/jobs-block}}
			{{/each}}
		</div>
		{{!-- </div> --}}
	</div>
</section>
<!--/CARDS WRAPPER-->
<!--FOOTER-->
<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
	<div class="uk-container uk-text-small uk-text-center">
		Made with ❤️ by JobKit
	</div>
</footer>
<!--/FOOTER-->