<header id="site-head">
	<div class="uk-container uk-container-expand uk-background-secondary uk-padding-large">
		<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-auto">
				<a href="#" class="uk-logo" title=""><img src="img/logo.svg" alt=""></a>
			</div>
			<div class="uk-width-expand">
				<form id="search-form" action="">
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
						<input class="uk-input uk-width-1-1 search-fld" type="text"
							placeholder="Search existing applications" autofocus>
						<a href="#" class="search-filter" data-uk-filter-control="[data-tags*='']" hidden>Search</a>
					</div>
				</form>
			</div>
			<div class="uk-width-auto">
				<ul class="uk-subnav" data-uk-margin>
					<li  class=""><a id="nav-app" href="/applications">Applications</a></li>
					<li id="nav-jobs"><a href="/jobs">Jobs</a></li>
					<li id="nav-profile"><a href="/profile">Profile</a></li>
					<li></li>
					<li id="nav-signout"><a class="uk-text-bold" id="signout" href="/">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!--/HEADER-->
<div class="spacer"></div>
<!--CARDS WRAPPER-->
<section class="uk-section uk-section-small uk-padding-remove-bottom login uk-cover-container" uk-height-viewport>
	<div class="uk-container uk-container-expand uk-margin-large-bottom">
		{{!-- <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l  uk-child-width-1-5@xl uk-grid-match js-filter" data-uk-grid data-uk-sortable="handle: .drag-icon"> --}}
		<div id="github-jobs"
			class="uk-grid uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l  uk-child-width-1-5@xl uk-grid-match js-filter uk-grid-large uk-text-center">
			{{#each jobs}}
			{{> jobs/jobs-block}}
			{{/each}}
		</div>
		{{!-- </div> --}}
	</div>
</section>
<!--/CARDS WRAPPER-->
<!--FOOTER-->
<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
	<div class="uk-container uk-text-small uk-text-center">
		Made with Love by JobKit
	</div>
</footer>
<!--/FOOTER-->