<script src="../assets/js/profile.js"></script>

<!--HEADER-->
<header id="site-head">
	<div class="uk-container uk-container-expand uk-background-secondary uk-padding-small">
		<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-auto">
				<a href="#" class="uk-logo" title=""><img src="img/logo.svg" alt=""></a>
			</div>
			<div class="uk-width-expand">
			</div>
			<div class="uk-width-auto">
				<ul class="uk-subnav" data-uk-margin>
					<li class=""><a id="nav-app" href="/applications">Applications</a></li>
					<li><a id="nav-jobs" href="/jobs">Jobs</a></li>
					<li><a id="nav-profile" href="/profile">Profile</a></li>
					<li></li>
					<li><a id="nav-signout" class="uk-text-bold" id="signout" href="/">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!--/HEADER-->
<div class="spacer"></div>
<!--CARDS WRAPPER-->
<section class="uk-section uk-section-small uk-padding-remove-bottom uk-cover-container" uk-height-viewport>
	<div class="uk-container uk-container-expand uk-margin-large-bottom">
		<div class="uk-flex uk-flex-middle uk-flex-center">

			<!-- card -->
			<div id="user-profile">
				
			</div>
			<!-- /card -->

		</div>
	</div>
</section>
<!--/CARDS WRAPPER-->
<!--FOOTER-->
<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
	<div class="uk-container uk-text-small uk-text-center">
		Made with Love by JobKit
	</div>
</footer>
<!--/FOOTER-->