<!--HEADER-->
		<header id="site-head">
			<div class="uk-container uk-container-expand uk-background-secondary uk-padding-small">
				<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
					<div class="uk-width-auto">
						<a href="#" class="uk-logo" title=""><img src="img/logo.svg" alt=""></a>
					</div>
					<div class="uk-width-expand">
					</div>
					<div class="uk-width-auto">
						<ul class="uk-subnav" data-uk-margin>
							<li id="nav-app" class=""><a href="/applications">Applications</a></li>
							<li id="nav-jobs"><a href="/jobs">Jobs</a></li>
							<li id="nav-profile"><a href="/profile">Profile</a></li>
							<li></li>
							<li id="nav-signout"><a class="uk-text-bold" id="signout" href="/">Logout</a></li>
						</ul>						
					</div>
				</div>
			</div>
		</header>
		<!--/HEADER-->
		<div class="spacer"></div>
		<!--CARDS WRAPPER-->
		<section class="uk-section uk-section-small uk-padding-remove-bottom uk-cover-container" uk-height-viewport>
			<div class="uk-container uk-container-expand uk-margin-large-bottom">
				<div class="uk-flex uk-flex-middle uk-flex-center">
					
					<!-- card -->
					<div class="profile-card uk-width-1-2" id="profile">
						<div class="uk-card uk-card-large uk-card-secondary">
							<div class="uk-card-header">
								<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid>
									<div class="uk-width-expand">
										<span class="cat-txt">User Profile</span>
									</div>
									<div class="uk-width-auto uk-text-right uk-text-muted">
										<span data-uk-icon="icon:clock; ratio: 0.8"></span> Date Joined
									</div>
								</div>
							</div>
							<div class="uk-card-body uk-padding-remove-bottom">
								<ul uk-accordion="multiple: true">
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Name</a>
                                        <div class="uk-accordion-content">
                                            <textarea name="" id="" cols="40" rows="3">Name</textarea>
                                        </div>
                                        <hr>
                                    </li>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Desired Job Title</a>
                                        <div class="uk-accordion-content">
                                            <textarea name="" id="" cols="40" rows="3">Desired Job Title</textarea>
                                        </div>
                                        <hr>
                                    </li>
                                    <li class="uk-open">
                                        <a class="uk-accordion-title" href="#">Location</a>
                                        <div class="uk-accordion-content">
                                            <textarea name="" id="" cols="40" rows="3">Location</textarea>
                                        </div>
                                        <hr>
                                    </li>
                                </ul>
							</div>
							<div class="uk-card-footer">
								<div class="uk-grid uk-grid-small uk-grid-divider uk-flex uk-flex-middle" data-uk-grid>
									<div class="uk-width-expand uk-text-small">
										<button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Save</button> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /card -->
					
				</div>
			</div>
		</section>
		<!--/CARDS WRAPPER-->
		<!--FOOTER-->
		<footer id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
			<div class="uk-container uk-text-small uk-text-center">
				Made with Love by JobKit
			</div>
		</footer>
		<!--/FOOTER-->