<div class="background uk-height-viewport uk-light">
	<!-- overlay -->
	<div class="uk-position-cover uk-overlay-primary"></div>
	
	<div class="uk-panel uk-dark uk-text-center uk-position-center">
        <img id="login-logo" class="uk-center" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/852/2922780852_17e18edb-4281-4a6c-8a36-9f026bf29cf2.png?cb=1588108119" alt="jobkit-logo">
		<div class="uk-width-medium uk-padding-small uk-position-z-index uk-position-relative" uk-scrollspy="cls: uk-animation-fade">
		
		<hr>

		
		<!-- signup -->
		<form class="toggle-class">
			<fieldset class="uk-fieldset">
				<div class="uk-margin-small">
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
						<input class="uk-input uk-border-pill" required placeholder="Email" type="email" id="email" autocomplete="username">
					</div>
				</div>
				<div class="uk-margin-small">
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
						<input class="uk-input uk-border-pill" required placeholder="Password" type="password" id="password" autocomplete="password">
					</div>
				</div>
				<div class="uk-margin-small">
					<div class="uk-inline uk-width-1-1">
						<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
						<input class="uk-input uk-border-pill" required placeholder="Confirm" type="password" id="confirm" autocomplete="password">
					</div>
				</div>

				<!-- <div class="uk-margin-small">
					<label><input class="uk-checkbox" type="checkbox"> Keep me logged in</label>
				</div> -->
				<div class="uk-margin-bottom">
					<button type="submit" id="signup-button" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">CREATE ACCOUNT</button>
				</div>
			</fieldset>
		</form>
		<!-- /signup -->
		
		<hr>

	</div>

	<!--FOOTER-->
	<footer id="site-foot" class="uk-section uk-section-preserve uk-section-xsmall uk-position-z-index">
		<div class="uk-container uk-text-small uk-text-center">
			Made with ❤️ by JobKit
		</div>
	</footer>
	<!--/FOOTER-->
</div>