<tr>
    <td>{{dataValues.source}}</td>
    <td>{{dataValues.applyType}}</td>
    <td>{{dataValues.resumeVersion}}</td>
    <td><a href={{dataValues.linkToPosting}} target="_blank">posting</a></td>
</tr>